---
layout: layout.liquid
title: Random Name Generator
---
<h2>Random Name Generator</h2>
<div x-data="randomName">
  <button @click="alert(name)">Generate "M" Name</button>
</div>
<script>
function randomName() {
    const names = ['Max', 'Malcolm', 'Mason', 'Macy', 'Marissa', 'Maurice', 'Mike', 'Madison', 'Melanie', 'Melon'];
    return {
      get name() {
        return names[Math.floor(Math.random() * names.length)];
      },
    }
  }
</script>